
# ========================
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

estructura.txt

# ========================
ZingPad
*.exe
*.out
*.a
*.o
*.obj
*.lib
*.dll
*.so
*.dylib

# ========================
.DS_Store
Thumbs.db
*~
*.swp
*.swo

# ========================
vcpkg/


.cache/
compile_commands.json
